#root {
  height: 100%;
}

.ant-layout {
  height: 100%;
  background-color: #fff;
}

.ant-layout-header {
  padding: 0;
}

.ant-layout-sider {
  height: 100%;
}

.ant-layout tr {
  cursor: pointer;
}
